* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #ff3543;
  color: #fffae3;
  font-family: Lato;
}

#title {
  font-family: Fjalla One;
  font-size: 3rem;
  letter-spacing: 0.8rem;
  text-align: center;
}

#inputs {
  margin-top: 3.5rem;
}

input {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    /*padding-right: 8rem;*/
    font-size: 1rem;
    flex: 1;
}

input:focus {
  outline:3px solid #5dbcff;
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

label {
    min-width: 70px;
    /*display: inline-block;*/
    flex: 1 0 33%;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

#button {
  width: 100%;
}

button {
    padding: 1rem;
    background-color: #ff3543;
    color: #fffae3;
    border: 1px solid #fffae3;
    font-size: 1rem;
    margin: 0 auto;
    display: block;
    margin-top: 2rem;
}

button:hover {
  background-color: #fffae3;
  color: #ff3543;
}

.input {
  padding: 0 1rem;
  display: flex;
  flex: 0 0 33%;
}

.input > label {
  flex: 0 0 6em;
  text-align: right;
}

/*@media screen and (max-width: 950px) {
  .input {
    flex-basis: 50%;
  }
}*/

@media screen and (max-width: 1200px) {
  .flex {
    display: block;
    margin: 0 auto;
    max-width: 30rem;
  }
  .input {
    display: block;
    /*flex: 0 0 100%;*/
  }
}
